body, .container, .buttonContainer {
    display: flex;  
}

body {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: pink;
}

.container, .display {
    border: 50px solid black;
}

.container {
    flex-direction: column;
    width: 306px;
    min-height: 400px;
    margin-top: 100px;
    background: rgb(93, 93, 93);
    border-radius: 7px;
}

.display {
    width: container;
    color: white;
    min-height: 50px;
    text-align: right;
    font-size: 40px;
    background: rgb(70, 70, 70);
    /* padding: 1px; */
}

.buttonContainer {
    flex-wrap: wrap;
    flex: 1;
}

button:hover {
  cursor: pointer;
}

#buttonBackspace, #buttonDecimal {
    margin-right: 76px;
}

#buttonBackspace, #buttonClear {
    background: rgb(55, 55, 55);
}

#buttonDivide, #buttonMultiply, #buttonAdd, #buttonSubtract, #buttonEquals {
    background: yellow;
    color: black;
}

button {
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    background: rgb(70, 70, 70);
    color: white;
    margin: 2px;
    height: 60px;
    width: 70px;
    font-size: 30px;
}